{% extends 'base.html '%}
{% load static %}

{% block content %}

<h2 class="text-center">add Employee details</h2>
<div class="container" style="width:50%;">
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
      <label  class="form-label">Employee name</label>
      <input type="text"  class="form-control" placeholder="enter your name" name="n">
    </div>

    <div class="mb-3">
      <label  class="form-label">Employee age</label>
      <input type="number"  class="form-control" placeholder="enter your age" name="a">
    </div>


    <div class="mb-3">
  <label  class="form-label">Address</label>
  <textarea class="form-control"  rows="3" name="ad"></textarea>
</div>

    <div class="mb-3">
  <label  class="form-label">Email </label>
  <input type="email" class="form-control"  placeholder="enter ur email" name="e">
</div>


    <div class="mb-3">
      <label  class="form-label">Images</label>
      <input type="file"  class="form-control" name="i">
    </div>

    <button type="submit" class="btn" style="background-color:#3A6D8C;color:white;">Add Employee</button>
</form>
    </div>

{% endblock %}
